# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
.env
.env.local

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# ClinSense specific
data/raw/
outputs/
data/processed/
data/mtsamples/
models/
checkpoints/
*.pt
*.pth
*.bin
*.safetensors
mlruns/
wandb/
artifacts/

# Kaggle credentials (NEVER commit)
kaggle.json
.kaggle/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
